* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "clash";
    src: url(fonts/ClashDisplay-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "clash";
    src: url(fonts/ClashDisplay-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "clash";
    src: url(fonts/ClashDisplay-Regular.ttf);
    font-weight: 400;
}

body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Inter", sans-serif;
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 32px 4vw;
    position: absolute;
    width: 100%;
    z-index: 3;

    h1 {
        font-size: 24px;
        font-weight: 400;
    }
}

h1,
h2 {
    font-family: "clash", sans-serif;
}

.hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;

    .bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .subtitulo {
        position: relative;
        width: 350px;
        height: 56px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        margin-bottom: 72px;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.208);
            position: absolute;
            z-index: 1;
        }

        video {
            position: absolute;
            width: 100%;
            top: 0;
            z-index: -1;
        }

        h3 {
            font-size: 16px;
            z-index: 2;
            font-weight: 400;
            mix-blend-mode: color-dodge;
            /*Faz efeito de desvio sobre o texto*/
            color: rgb(216, 216, 216);
        }
    }
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 11vw;

    h2 {
        font-size: 3.5vw;
        text-align: center;
        font-weight: 400;
    }

    p {
        text-align: center;
        width: 70%;
        font-size: clamp(16px, 1.1vw, 1.1vw);
        line-height: clamp(24px, 1.1vw, 1.1vw);
        margin-top: 24px;
        margin-bottom: 40px;
    }
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 8px 8px 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.botoes {
    display: flex;
    gap: 32px;
}

.botao-secundario {
    background-color: #000;
    color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(255, 255, 255, 0.151);
}

.secao2 {
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 4vw;

    h2 {
        font-size: 5vw;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        color: rgba(255, 255, 255, 0.75);
    }
}

.secao3 {
    justify-content: center;
    align-items: center;

}